<div id="container" class="w-full h-full overflow-hidden absolute bg-red-300">
  <canvas id="c" class="bg-blue-300 opacity-50 absolute w-full h-full"></canvas>
  <video
    id="v"
    autoplay
    muted
    playsinline
    class="bg-yellow-300 opacity-50 absolute right-0 bottom-0"
  ></video>
  <div
    id="debug"
    class="absolute bottom-0 left-0 w-full h-[100px] break-words"
  ></div>
</div>

<!-- <include src="partials/modal.html"></include> -->
<include src="partials/motion.html"></include>
